{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
</head>
<body>
    {% block content %}   
    <center>
    <div class="col-md-12 text-center"> 
        <h2>S'inscrire</h2> 
    </div>  
    <form method='POST' class="post-form"> 
        {% csrf_token %}
            <input type="checkbox" id="isEnseignantCheckbox" name="is_enseignant">
            <label for="isEnseignantCheckbox">Enseignant</label>
            <button type="submit" class="btn btn-outline-primary">Confirmer</button> 
        </form>     
    </center>
{% endblock %}
</body>
</html>